{{#unless flatMode}}
  <div class='buttons'>
    <button class='decrease-btn' {{action 'decreaseMonth'}} {{bind-attr disabled="decreaseMonthButtonDisabled"}}>
      {{{decreaseButtonText}}}
    </button>

    <button class='picker-toggle-btn rl-dropdown-toggle' {{action 'toggleDropdown'}}>
      {{#if monthText}}
        {{monthText}}
      {{else}}
        {{{monthPlaceholderText}}}
      {{/if}}
      <i class='caret'></i>
    </button>

    <button class='increase-btn' {{action 'increaseMonth'}} {{bind-attr disabled="increaseMonthButtonDisabled"}}>
      {{{increaseButtonText}}}
    </button>
  </div>
{{/unless}}

{{#if pickerVisible}}
  <div class='picker rl-dropdown'>
    {{#if yearPickerMode}}
      {{rl-year-picker flatMode=true year=year previousPageButtonText=previousPageButtonText nextPageButtonText=nextPageButtonText pickedYear="pickedYear" minYear=minYear maxYear=maxYear}}
    {{else}}
      <div class='page-controls'>
        <button class='previous-page-btn' {{action 'previousPage'}} {{bind-attr disabled="previousPageButtonDisabled"}}>
          {{{previousPageButtonText}}}
        </button>

        <button class='year-picker-toggle-btn' {{action 'openYearPicker'}}>
          {{displayedYear}} <i class='caret'></i>
        </button>

        <button class='next-page-btn' {{action 'nextPage'}} {{bind-attr disabled="nextPageButtonDisabled"}}>
          {{{nextPageButtonText}}}
        </button>
      </div>

      <ul class='month-list'>
        {{#each month in months}}
          <li {{bind-attr class="month.isActive:active month.outOfRange:out-of-range"}} {{action 'pickedMonth' displayedYear month.monthNumber}}>
            {{month.label}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
{{/if}}
